.topB{
    text-align: center;
    font-size: 200px;
    display:inline;
    font-family: "Fantasy", Impact, serif;
   }

.topS{
    text-align: center;
    font-size: 20px;
    display:inline;
    font-family: "Fantasy", Impact, serif;
   }

.topM{
    text-align: center;
    font-size: 80px;
    display:inline;
    font-family: "Fantasy", Impact, serif;
}

.topG{
    text-align: center;
    font-size: 300px;
    display:inline;
    font-family: "Fantasy", Impact, serif;
}



.center{
    text-align: center;
}

